In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Kaggle - Forest Fires.csv', encoding='latin-1')
df

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

In [5]:
# soma de todos os incendios
df['number'].sum()

698924.073

In [8]:
# média de incendios por ano
mean_by_year = df.groupby('year')['number'].mean()
mean_by_year

year
1998     61.771515
1999     82.971670
2000     84.417441
2001     89.727198
2002    115.403086
2003    131.977389
2004    118.682602
2005    108.040015
2006    104.420250
2007    101.967324
2008     90.675815
2009    120.732031
2010    114.313114
2011    106.893657
2012    123.718704
2013    108.475673
2014    122.287602
2015    127.186086
2016    130.284657
2017    123.106121
Name: number, dtype: float64

In [10]:
estados_mais_incendios = df.groupby('state')['number'].sum().sort_values(ascending=False)
estados_mais_incendios

state
Mato Grosso         96246.028
Paraiba             52435.918
Sao Paulo           51121.198
Rio                 45160.865
Bahia               44746.226
Piau                37803.747
Goias               37695.520
Minas Gerais        37475.258
Tocantins           33707.885
Amazonas            30650.129
Ceara               30428.063
Maranhao            25129.131
Pará                24512.144
Pernambuco          24498.000
Roraima             24385.074
Santa Catarina      24359.852
Amapa               21831.576
Rondonia            20285.429
Acre                18464.030
Espirito Santo       6546.000
Alagoas              4644.000
Distrito Federal     3561.000
Sergipe              3237.000
Name: number, dtype: float64

In [ ]:
# mes com mais incendios
mes_mais_incendios = df.groupby('month'['number'].sum().sort_values(ascending=True)